
<div class="container">
  <% @posts.each do |post| %>
    <div class="posts-index-item">
      <p>
        <%= link_to(post.title,"/posts/#{post.id}") %>
        <img src= "<%= "/post_images/#{post.image_name}" %>">
      </p>
    </div>
  <% end %>
</div>
